<!--form fields-->
<h1>Consequences</h1>

<p id="description">Consequences is a short yet intense choose-your-own-adventure game in which you play as a world-weary private detective who must 
make difficult decisions in order to solve mysteries, alter the course of fate, and perhaps even choose between life and death...</p>




<p><small><%= link_to 'Play Now', controller: 'adventures' %></small></p>
    