<h1>Saved Adventures</h1>

<%= link_to 'New Adventure', new_adventure_path %>

<table id="advname">
  <tr>
    <th>Name</th>
  </tr>
 
  <% @adventures.each do |adventure| %>
    <tr>
      <td><%= adventure.name %></td>
      <td><%= link_to 'Show', adventure_path(adventure) %></td>
    </tr>
  <% end %>
</table>