<h1>New Adventure</h1>

<p> Enter a name for your new adventure!</p>


<%= render 'form' %>


<%= form_tag('adventure', :method =>"new") do%>
<p>
    
    
    
    <p><%= submit_tag("Submit") %></p>
</p>
<% end %>

<%= link_to 'Back to Saved Adventures', adventures_path, class: 'link-to-text-color' %>