<p>
  <strong>Current Adventure:</strong>
  <%= @adventure.name %>
</p>

<p>
  <strong>Storyline:</strong>
  <%= @adventure.storyline %>
</p>


<%= link_to 'Edit Adventure', edit_adventure_path(@adventure) %> |

<%= link_to 'Back to Saved Adventures', adventures_path, class: 'link-to-text-color' %>

