// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
    text-align:center;
    color:white;
    padding-top: 20px;
    font-size: 25px;
     
}
table, th, td {
    border: 1px solid black;
}


#error_explanation{
    color: white;
    text-align: center;
}


.link-to-text-color{
    color:white;
    
}

#storyline1{
    color:white;
}

#storyline2{
    color:white;
}